<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574398540744-jgnb0p204skbeugjq6c4776sie7br871.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574398540744-jgnb0p204skbeugjq6c4776sie7br871</string>
	<key>API_KEY</key>
	<string>AIzaSyAsgQL_w_8rS1lxZK185h458FNVzGN5IFI</string>
	<key>GCM_SENDER_ID</key>
	<string>574398540744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bmi</string>
	<key>PROJECT_ID</key>
	<string>bmi-cali</string>
	<key>STORAGE_BUCKET</key>
	<string>bmi-cali.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574398540744:ios:1483aacf4adc3f47bd6efd</string>
</dict>
</plist>